.search_chat {
  font-family: "garamondpro";
  font-size: 1.2em;
}
.search_chat h3 {
  margin: 10px;
  font: 1.5em "garamondpro";
  font-weight: bold;
  text-align: center;
}
.search_chat h4 {
  margin: 10px;
  font: 1.3em "garamondpro";
  font-weight: bold;
  text-align: center;
}
.search_chat .motif {
  margin: 10px;
}
.search_chat .content-link {
  background: none;
  border: 0px;
}
.search_chat .btn-search button {
  padding: 5px;
  margin: 5px;
  line-height: 18px;
}
.search_chat .journal {
  margin: 10px 0 10px 0;
}
.search_dialog {
  font: 1.2em "garamondpro";
}
.search_dialog h3 {
  margin: 10px;
  font: 1.5em "garamondpro";
  font-weight: bold;
  text-align: center;
}
.search_dialog .dialog-buttons {
  padding-top: 15px;
}
